<% if @reactions.any? %>
    <ul class="reactions">
      <% @reactions.each do |reaction| %>
      <li>
        <figure>
          <figcaption><%= link_to reaction.title, reaction %></figcaption>
          <%= image_tag reaction.image.url %>
        </figure>
      </li>
      <% end %>
    </ul>
<% else %>
    <div class="notice">Реакций нет</div>
<% end %>
