<% if @reactions.any? %>
    <ul class="reactions">
      <% @reactions.each do |reaction| %>
      <li>
        <%= reaction.title %>
        <%= image_tag reaction.image.url %>
      </li>

      <% end %>
    </ul>
<% else %>
    <div class="notice">Реакций нет</div>
<% end %>