article.reactions-new {
  form {
    display: inline-block;

    label {
      display: inline-block;
      min-width: 100px;
    }
  }
}

ul.reactions {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 1em 0;
    padding: 0 0 1em 2em;
    border-bottom: dotted 1px;
  }
}

.reaction {
  margin: 1em 0 0 0;
  padding: 0 0 1em 2em;

  footer {
    margin: 1em 0 0 0;
  }
}

.reactions figure, .reaction figure {
  margin: 0;
  padding: 0;

  figcaption {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.5em 0;
  }
}